---
import Layout from '~/layouts/Layout.astro';
import HeaderTop from '~/components/headerTop.astro';
import Header from '~/components/header.astro';
import Whatsapp from '~/components/whatsapp.astro';
import Footer from '~/components/footer.astro';
import SegurosPage from '~/components/segurosPage.astro';
import SegurosLink from '~/components/segurosLink.astro';


---

<Layout
	title="Planes Individuales de Ahorro Sistemático en Las Palmas"
	description='Asegura tu futuro financiero con nuestros PIAS en Las Palmas. Asegura-Te te ayuda, llámanos o ven a vernos en Las Palmas.'
	>
	<Whatsapp />
	<section id="inicio">
		<HeaderTop />
		<Header />
	</section>
    <SegurosPage
        title='Planes Individuales de Ahorro Sistemático en Las Palmas'
        url="/images/PIAS.webp"
        alt="Planes Individuales de Ahorro Sistemático en Las Palmas"
        href="/contacto.html"
        subtitle='Invierte de manera inteligente en tu futuro'
        subsubtitle="¿Por qué elegir nuestros PIAS?"
        >
        <p slot="after-title">
			Asegura tu futuro financiero con nuestros planes diseñados para ofrecerte seguridad y estabilidad económica.
        </p>
        <p slot="after-subtitle">
            En Asegura-Te nos preocupamos por tu bienestar financiero tanto como tú, por eso nos dedicamos a proporcionarte la mejor protección en el mercado. Nuestros PIAS están diseñados para brindarte la cobertura que necesitas en tus años dorados, combinando inversiones seguras y rentables para maximizar tu patrimonio. Con opciones de inversión personalizadas y tarifas competitivas, puedes estar tranquilo sabiendo que estás protegido contra los riesgos financieros asociados con la jubilación. Confía en nosotros para proteger tu futuro y vivir la vida que siempre has soñado.
        </p>
        <p slot="after-subsubtitle">
            Nuestros PIAS están diseñados para ofrecerte un plan de ahorro seguro y rentable a largo plazo. Confía en nosotros para asegurar tu futuro financiero.
        </p>
    </SegurosPage>
    <SegurosLink 
    hrefFrom='/seguro-las-palmas/oficinas.html'
    titleFrom='Oficinas'
    hrefTo='/seguro-las-palmas/planes-pensiones.html'
    titleTo='Planes de pensiones'
    />
	<Footer />
</Layout>
