---
import Layout from '~/layouts/Layout.astro';
import HeaderTop from '~/components/headerTop.astro';
import Header from '~/components/header.astro';
import Whatsapp from '~/components/whatsapp.astro';
import Footer from '~/components/footer.astro'


---

<Layout
	title="Seguros de Salud en Las Palmas"
	description='Seguros de Salud en Las Palmas. Compara todas las opciones que manejamos en Asegura-Te, te ayudamos a elegir el seguro de salud adaptado a tus necesidades.'
	>
	<Whatsapp />
	<section id="inicio">
		<HeaderTop />
		<Header />
	</section>
        <h1>salud</h1>
	<Footer />
</Layout>
