---
import Layout from '~/layouts/Layout.astro';
import HeaderTop from '~/components/headerTop.astro';
import Header from '~/components/header.astro';
import Whatsapp from '~/components/whatsapp.astro';
import AboutUs from '~/components/aboutUs.astro';
import Productos from '~/components/productos.astro';
import Companies from '~/components/companies.astro';
import Preguntas from '~/components/preguntas.astro';
import Footer from '~/components/footer.astro'
import Carrousel from '~/components/carrousel.astro';

---

<Layout
	title="Contacto"
	description=""
	>
    <section id="inicio">
		<HeaderTop />
		<Header />
	</section>
	<Whatsapp />
    <h1>contacto</h1>
	<Footer />
</Layout>
