---
import Layout from '~/layouts/Layout.astro';
import HeaderTop from '~/components/headerTop.astro';
import Header from '~/components/header.astro';
import Whatsapp from '~/components/whatsapp.astro';
import Footer from '~/components/footer.astro'
import ContactForm from '~/components/contactForm.astro';
---

<Layout
	title="Contacto"
	description=""
	>
    <section id="inicio">
		<HeaderTop />
		<Header />
	</section>
	<Whatsapp />
	<section>
      <main>
    	<h1>En Asegura-Te podemos ayudarte</h1>
       </main>
	</section>
	<ContactForm page='Contacto'/>
	<Footer />
</Layout>


<style>


    main{
        width: 85%;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    main > div{
        width: 100%;
    }


    main > img{
        width: 80%;
        max-width: 900px;
    }


    @media only screen and (max-width: 900px)  {
        main > img{
            width: 100%;
        }
    }

</style>