---
import Layout from '~/layouts/Layout.astro';
import HeaderTop from '~/components/headerTop.astro';
import Header from '~/components/header.astro';
import Footer from '~/components/footer.astro'


---

<Layout
	title=""
	description=""
	>
	<section id="inicio">
		<HeaderTop />
		<Header />
	</section>
    <h1>cookies</h1>
	<Footer />
</Layout>
