---
import Layout from '~/layouts/Layout.astro';
import HeaderTop from '~/components/headerTop.astro';
import Header from '~/components/header.astro';
import Whatsapp from '~/components/whatsapp.astro';
import AboutUs from '~/components/aboutUs.astro';
import Companies from '~/components/companies.astro';
import Footer from '~/components/footer.astro'
import Carrousel from '~/components/carrousel.astro';
import Productos from '~/components/productos.vue';
import Preguntas from '~/components/preguntas.vue'
---

<Layout
	title=""
	description=""
	>
	<Whatsapp />
	<section id="inicio">
		<HeaderTop />
		<Header />
		<Carrousel />
	</section>
	<AboutUs />
	<Productos client:only="vue"/>
	<Companies />
	<Preguntas client:only="vue" />
	<Footer />
</Layout>
