---
import "aos/dist/aos.css";
---

<section id="nosotros">
    <div>
        <div class="checkList" data-aos="zoom-in" data-aos-duration="1000">
            <span><i class="fa-solid fa-check"></i> Amplia experiencia</span>
            <span><i class="fa-solid fa-check"></i> Asesoramiento personalizado</span>
            <span><i class="fa-solid fa-check"></i> Resolución de problemas</span>
            <span><i class="fa-solid fa-check"></i> Satisfacción del cliente</span>
            <span><i class="fa-solid fa-check"></i> Sin costes añadidos</span>
        </div>
    </div>
    <div class="prose max-w-none">
        <h2>+20 años tramitando seguros en Las Palmas</h2>
        <!-- <span>Sobre nosotros</span> -->
        <p><strong>Asegura-Te:</strong> Correduría de Seguros en Las Palmas con más de 20 años de experiencia en el sector. Nuestro equipo experto asesora y brinda seguimiento personalizado en la contratación de pólizas de seguros y productos financieros, priorizando siempre la adaptación a las necesidades específicas de cada cliente.</p>
        <p>Nos encargamos de gestionar todos los aspectos relacionados con las pólizas de seguros, desde la selección de la compañía aseguradora más adecuada hasta la tramitación y seguimiento de siniestros. Actuamos como mediadores con las compañías de seguros para resolver cualquier inconveniente que pueda surgir, garantizando así la defensa de los derechos de nuestros clientes.</p>
        <p>En Asegura-Te, nuestro compromiso principal es asegurar la completa satisfacción de nuestros clientes en caso de siniestro. Además, nuestros servicios de asesoramiento y gestión no generan costes adicionales para nuestros asegurados, brindando así un valor añadido a nuestra relación.</p>
    </div>
</section>


<script>
    import { aosInit } from "~/scripts/aos";
    aosInit();
</script>





<style>
#nosotros{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 110px 0;
    margin: auto;
    gap:40px;
}

p{
    margin-top: 20px;
}


#nosotros >div{
    width: 50%;


}
#nosotros>div:nth-child(1){
   display: flex;
   justify-content: center;
   align-items: center;


}

.checkList{
    background-color: #ffff;
    padding: 40px ;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 18px #adadad;
}

.checkList *> i{
    color: var(--yellow);
    padding-right: 3px;
}

.checkList >span{
    font-family: bayan;
    font-size: 1.3rem;
    padding: 3px 20px;
    font-weight: bold;
}

/* MEDIA QUERY */

@media only screen and (max-width: 900px)  {


    .checkList{
        margin-bottom: 30px;
        padding: 10px;
    }

    .checkList >span{
        font-size: 1rem;
        padding: 3px 10px;
    }

    #nosotros{
        display: block;
        padding-top: 40px;
    }
    #nosotros >div{
        width: 100%;
    }


}
</style>
