---
---
<main class="custom_main">
    <div id="productsNav" class="overlayProducts">
        <span onclick="clickpar()">PARTICULARES <i class="fa-solid fa-angle-down angle"></i></span>
        <span onclick="clickemp()">EMPRESAS <i class="fa-solid fa-angle-down angle"></i></span>
        <span onclick="clickvid()">VIDA, AHORRO E INVERSIÓN <i class="fa-solid fa-angle-down angle"></i></span>
        <a href="./landings/salud.html"><span>SALUD</span></a>
        <a href="./landings/contacto.php"><span>VIAJES</span></a>
        <div id="productList">
            <div id="particulares" class="overlayParticulares">
                <a href="./landings/hogar.html"><i class="fa-solid fa-angle-right"></i> Hogar</a>
                <a href="./landings/decesos.html"><i class="fa-solid fa-angle-right"></i> Decesos</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Accidentes individual</a>
                <a href="./landings/autos.html"><i class="fa-solid fa-angle-right"></i> Autos</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Vehículos clásicos</a>
                <a href="./landings/motos.html"><i class="fa-solid fa-angle-right"></i> Motos</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Ciclomotores</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Seguros de baja laboral</a>
                <a href="https://seguropordias.com/?c=fb40a60f501e42d0b3c0e7492439d783" target="_blank"><i class="fa-solid fa-angle-right"></i> Seguros por día</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Mascotas</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Defensa jurídica</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Embarcaciones</a>
            </div>
            <div id="empresas" class="overlayEmpresas">
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Responsabilidad civil</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Flotas</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Accidentes de convenios</a>
                <a href="./landings/comercios.html"><i class="fa-solid fa-angle-right"></i> Comercios</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Oficinas</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Pymes</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Defensa jurídica de la empresa</a>
            </div>
            <div id="vida" class="overlayVida">
                <a href="./landings/vida.html"><i class="fa-solid fa-angle-right"></i> Vida Riesgo</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> Planes de Pensiones</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> PIAS</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> SIALP</a>
                <a href="./landings/contacto.php"><i class="fa-solid fa-angle-right"></i> United Linked</a>
            </div>
        </div>
    </div>

        <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" id="slide1">
            <div class="bannerContent">
                <div>
                  <h1>Tenemos el Seguro de <strong>DECESOS</strong> que necesitas.</h1>
                  <p>Te ofrecemos los mejores seguros de decesos adaptándonos siempre a tus necesidades.</p>
                </div>
              <a href="./landings/decesos.html" class="botonGenerico">Calcula tu Seguro<i class="fa-solid fa-angle-right"></i></a>
            </div>
              <img src="./img/decesos.jpg" alt="Seguro decesos Las Palmas">
          </div>
          <div class="swiper-slide" id="slide2">
            <div class="bannerContent">
                <div>
                  <span>Seguros para <strong>MASCOTAS</strong> completos:</span>
                  <p>Te ofrecemos un seguro de calidad, con las mejores coberturas y atención personalizada. Contrata nuestro seguro para mascotas y disfruta de la tranquilidad que necesitas.</p>
                </div>

              <a href="./landings/contacto.php" class="botonGenerico">Calcula tu Seguro<i class="fa-solid fa-angle-right"></i></a>
            </div>
            <img src="./img/mascotas.jpg" alt="Seguro mascotas Las Palmas">
        </div>
          <div class="swiper-slide" id="slide3">
            <div class="bannerContent">
                <div>
                  <span>Tu Seguro de <strong>SALUD</strong> con las máximas coberturas.</span>
                  <p>Seguros sin copagos. Cubre tus gastos médicos.</p>
                </div>
              <a href="./landings/salud.html" class="botonGenerico">Calcula tu Seguro<i class="fa-solid fa-angle-right"></i></a>
            </div>
            <img src="./img/salud.jpg" alt="Seguros salud Las Palmas">
          </div>
        <div class="swiper-slide" id="slide4">
            <div class="bannerContent">
                <div>
                  <span>Seguros de patinetes eléctricos y bicicletas: Tu Seguro de movilidad más completo.</span>
                  <p>Muévete con tranquilidad con un seguro adaptado a tus necesidades.</p>
                </div>
              <a href="./landings/contacto.php" class="botonGenerico">Calcula tu Seguro<i class="fa-solid fa-angle-right"></i></a>
            </div>
            <img src="./img/patinetes.jpg" alt="Seguros patinetes Las Palmas">
        </div>
        <div class="swiper-slide" id="slide5">
            <div class="bannerContent">
                <div>
                  <span>Rotura de <strong>LUNAS</strong>.</span>
                  <p>Si tienes un impacto o luna rota...</p>
                </div>
              <a href="https://www.clubcarglass.es/landings.php?c=34bc89f9622fbc37f5c4" class="botonGenerico" target="_blank">Pide cita aquí<i class="fa-solid fa-angle-right"></i></a>
            </div>
            <img src="./img/luna.jpg" alt="Seguros luna Las Palmas">
        </div>
        <div class="swiper-slide" id="slide6">
            <div class="bannerContent">
                <div>
                  <span>Seguro por <strong>DÍAS</strong>.</span>
                  <p>Coches, motos, autocaravanas, etc...</p>
                </div>
              <a href="https://seguropordias.com/?c=fb40a60f501e42d0b3c0e7492439d783" class="botonGenerico" target="_blank">Calcula tu Seguro<i class="fa-solid fa-angle-right"></i></a>
            </div>
            <img src="./img/segurodias.webp" alt="Seguros por días Las Palmas">
        </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</main>
</section>