---
import Link from "./ui/link.astro";

---

<div class="swiper swiper1">
    <div class="swiper-wrapper">
      <div class="swiper-slide" id="slide1">
        <div class="bannerContent">
            <div>
              <h1>Correduría de SEGUROS en Las Palmas</h1>
              <p>Protege lo que más importa con Asegura-Te. Expertos en seguros en Las Palmas, ofrecemos tranquilidad y seguridad.</p>
            </div>
          <Link
          href="/seguro-las-palmas/decesos/"
          className="botonGenerico"
          >Escoge tu seguro ahora
        </Link>
        </div>
          <img src="images/decesos.webp" alt="Seguros decesos Las Palmas">
      </div>
      <div class="swiper-slide" id="slide2">
        <div class="bannerContent">
            <div>
              <span>Seguros para <strong>MASCOTAS</strong> completos:</span>
              <p>Te ofrecemos un seguro de calidad, con las mejores coberturas y atención personalizada. Contrata nuestro seguro para mascotas y disfruta de la tranquilidad que necesitas.</p>
            </div>
          <Link
          href="/seguro-las-palmas/mascotas/"
          className="botonGenerico"
          >Calcula tu seguro
        </Link>
        </div>
        <img src="images/mascotas.webp" alt="Seguros mascotas Las Palmas">
    </div>
      <div class="swiper-slide" id="slide3">
        <div class="bannerContent">
            <div>
              <span>Tu Seguro de <strong>SALUD</strong> con las máximas coberturas.</span>
              <p>Seguros sin copagos. Cubre tus gastos médicos.</p>
            </div>
            <Link
            href="/seguro-las-palmas/salud/"
            className="botonGenerico"
            >Calcula tu seguro
          </Link>
        </div>
        <img src="images/salud.webp" alt="Seguros salud Las Palmas">
      </div>
    <div class="swiper-slide" id="slide4">
        <div class="bannerContent">
            <div>
              <span>Seguros de patinetes eléctricos y bicicletas: Tu Seguro de movilidad más completo.</span>
              <p>Muévete con tranquilidad con un seguro adaptado a tus necesidades.</p>
            </div>
            <Link
            href="/contacto/"
            className="botonGenerico"
            >Calcula tu seguro
          </Link>
        </div>
        <img src="images/patinetes.webp" alt="Seguros patinetes Las Palmas">
    </div>
    <div class="swiper-slide" id="slide5">
        <div class="bannerContent">
            <div>
              <span>Rotura de <strong>LUNAS</strong>.</span>
              <p>Si tienes un impacto o luna rota...</p>
            </div>
            <Link
            href="https://www.clubcarglass.es/landings.php?c=34bc89f9622fbc37f5c4"
            className="botonGenerico"
            target="_blank"
            >Pide cita aquí
          </Link>
        </div>
        <img src="images/luna.webp" alt="Seguros luna Las Palmas">
    </div>
    <div class="swiper-slide" id="slide6">
        <div class="bannerContent">
            <div>
              <span>Seguro por <strong>DÍAS</strong>.</span>
              <p>Coches, motos, autocaravanas, etc...</p>
            </div>
            <Link
            href="https://seguropordias.com/?c=fb40a60f501e42d0b3c0e7492439d783"
            className="botonGenerico"
            target="_blank"
            >Calcula tu seguro
          </Link>
        </div>
        <img src="images/segurodias.webp" alt="Seguros por días Las Palmas">
    </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<script>
    // Core de Swiper y estilos
    import Swiper from 'swiper';
    import 'swiper/css';
    // Módulo Navigation de Swiper y estilos
    import { Navigation, Autoplay, Pagination } from "swiper/modules";
    import "swiper/css/navigation";
  
    // Configurar Swiper
    const swiper1 = new Swiper(".swiper1", {
      modules: [Navigation, Autoplay, Pagination], // definir los módulos a usar
      spaceBetween: 0,
        centeredSlides: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: true,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
  </script>


<style>
  .swiper1 {
    width: 100%;
    min-height: 500px;
    height: 70vh;
    overflow: hidden;    
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide p{
    font-size: 1.4rem;
}
.swiper-button-next,  .swiper-button-prev{
    color: aliceblue !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerContent{
    width: 60%;
    min-width: 300px;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 10%;
    margin-top: 5%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius:10px;
}
.bannerContent > div:nth-child(1){
    margin-bottom: 30px; 
}

/* MEDIA QUERY */

@media only screen and (max-width: 900px)  {
  .swiper1 {
    height: 80vh; 
  }  
}
</style>