---
import Link from "./ui/link.astro"
---

<section id="slideCompany">
    <h3>Trabajamos con las principales compañías aseguradoras en Las Palmas</h3>
    <div class="boxContainer prose">
        <p>Nuestra correduría de seguros en Las Palmas se enorgullece de trabajar en estrecha colaboración con las principales compañías aseguradoras. Esta colaboración nos permite ofrecer a nuestros clientes una amplia gama de opciones de seguro diseñadas para satisfacer sus necesidades. Al asociarnos con estas compañías líderes en el sector, garantizamos la calidad y la fiabilidad de los productos y servicios que ofrecemos. En Asegura-Te, nos comprometemos a proporcionar a nuestros clientes la tranquilidad y la protección que merecen, respaldados por la experiencia y la reputación de las mejores aseguradoras.</p>
    </div>
    <aside>
        <div class="swiper swiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="images/company/allianz.webp" alt="Allianz Logo"></div>
              <div class="swiper-slide"><img src="images/company/mapfre.webp" alt="Mapfre Logo"></div>
              <div class="swiper-slide"><img src="images/company/tinerfenia.webp" alt="Tinerfenia Logo"></div>
              <div class="swiper-slide"><img src="images/company/occident.webp" alt="Occident Logo"></div>
              <div class="swiper-slide"><img src="images/company/axa.webp" alt="Axa Logo"></div>
              <div class="swiper-slide"><img src="images/company/segurospordia.webp" alt="Seguros por dia"></div>
              <div class="swiper-slide"><img src="images/company/adeslas.webp" alt="Adeslas"></div>
              <div class="swiper-slide"><img src="images/company/caser.webp" alt="Caser"></div>
              <div class="swiper-slide"><img src="images/company/aegon.webp" alt="Aegon logo"></div>
              <div class="swiper-slide"><img src="images/company/meridiano.webp" alt="Meridiano Logo"></div>
              <div class="swiper-slide"><img src="images/company/reale.webp" alt="Reale Logo"></div>
              <div class="swiper-slide"><img src="images/company/generali.webp" alt="Generali Logo"></div>
              <div class="swiper-slide"><img src="images/company/santalucia.webp" alt="Santa Lucia Logo"></div>
              <div class="swiper-slide"><img src="images/company/asisa.webp" alt="Asisa Logo"></div>
              <div class="swiper-slide"><img src="images/company/sanitas.webp" alt="Sanitas Logo"></div>
              <div class="swiper-slide"><img src="images/company/aura.webp" alt="Aura Logo"></div>
              <div class="swiper-slide"><img src="images/company/senassur.webp" alt="Senassur Logo"></div>
              <div class="swiper-slide"><img src="images/company/fiatc.webp" alt="Fiatc Logo"></div>
              <div class="swiper-slide"><img src="images/company/arag.webp" alt="Arag Logo"></div>
              <div class="swiper-slide"><img src="images/company/previsora.webp" alt="Previsora Logo"></div>
            </div>
          </div>
    </aside>
    <Link
    href="/asistencia/"
    className="botonGenerico"
    >Asistencia 24hs
    </Link>
</section>


<script>
    // Core de Swiper y estilos
    import Swiper from 'swiper';
    import 'swiper/css';
    import { Autoplay } from "swiper/modules";


    // Configurar Swiper
    const swiper2 = new Swiper(".swiper2", {
          modules: [ Autoplay ],
          slidesPerView: 1,
          spaceBetween: 10,
          autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          },
          breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            768: {
              slidesPerView: 4,
              spaceBetween: 40,
            },
            1024: {
              slidesPerView: 5,
              spaceBetween: 50,
            },
          },
        });
  </script>

<style>

#slideCompany{
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#slideCompany > aside{
    background-color: #ffff;
    width: 100%;
    height: 150px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.swiper2 {
    width: 100%;
    height: 100%;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 80%;
}

/* h3{
font-size: 2rem;
font-family: noto;
font-weight: bold;
} */

.boxContainer{
    padding: 20px;
    width: 100%;
    max-width: 1600px;
}
</style>