---
import 'animate.css';
---

<header>
    <div>
        <img src="/images/asegurate_logo.png" alt="Asegurate logo" id="logo">
    </div>
    <div id="line" onclick="clickin()">
        <div class="rotate"></div>
        <div class="rotate"></div>
    </div>
    <nav>
        <a  href="/index.html" class="boton_menu" onclick="clickproClose()">Inicio</a>
        <a href="/index.html#nosotros" class="GoTo"><div class="boton_menu" onclick="clickproClose()">Nosotros</div></a>
        <div class="boton_menu" onclick="clickproOpen()">Productos</div>
        <a href="/index.html#preguntas" class="GoTo"><div class="boton_menu" onclick="clickproClose()">Preguntas frecuentes</div></a>
        <a href="#contacto" class="GoTo"><div class="boton_menu" onclick="clickproClose()">Contacto</div></a>
    </nav>
</header>
<main>
    <div id="productsNav" class="overlayProducts">
        <span onclick="clickpar()">PARTICULARES <i class="fa-solid fa-angle-down angle"></i></span>
        <span onclick="clickemp()">EMPRESAS <i class="fa-solid fa-angle-down angle"></i></span>
        <span onclick="clickvid()">VIDA, AHORRO E INVERSIÓN <i class="fa-solid fa-angle-down angle"></i></span>
        <a href="/seguro-las-palmas/salud.html"><span>SALUD</span></a>
        <a href="/seguro-las-palmas/viajes.html"><span>VIAJES</span></a>
        <div id="productList">
            <div id="particulares" class="overlayParticulares">
                <a href="/seguro-las-palmas/hogar.html"><i class="fa-solid fa-angle-right"></i> Hogar</a>
                <a href="/seguro-las-palmas/decesos.html"><i class="fa-solid fa-angle-right"></i> Decesos</a>
                <a href="/seguro-las-palmas/accidentes-individual.html"><i class="fa-solid fa-angle-right"></i> Accidentes individual</a>
                <a href="/seguro-las-palmas/autos.html"><i class="fa-solid fa-angle-right"></i> Autos</a>
                <a href="/seguro-las-palmas/vehiculos-clasicos.html"><i class="fa-solid fa-angle-right"></i> Vehículos clásicos</a>
                <a href="/seguro-las-palmas/motos.html"><i class="fa-solid fa-angle-right"></i> Motos</a>
                <a href="/seguro-las-palmas/ciclomotores.html"><i class="fa-solid fa-angle-right"></i> Ciclomotores</a>
                <a href="/seguro-las-palmas/baja-laboral.html"><i class="fa-solid fa-angle-right"></i> Seguros de baja laboral</a>
                <a href="https://seguropordias.com/?c=fb40a60f501e42d0b3c0e7492439d783" target="_blank"><i class="fa-solid fa-angle-right"></i> Seguros por día</a>
                <a href="/seguro-las-palmas/mascotas.html"><i class="fa-solid fa-angle-right"></i> Mascotas</a>
                <a href="/seguro-las-palmas/defensa-juridica.html"><i class="fa-solid fa-angle-right"></i> Defensa jurídica</a>
                <a href="/seguro-las-palmas/embarcaciones.html"><i class="fa-solid fa-angle-right"></i> Embarcaciones</a>
            </div>
            <div id="empresas" class="overlayEmpresas">
                <a href="/seguro-las-palmas/responsabilidad-civil.html"><i class="fa-solid fa-angle-right"></i> Responsabilidad civil</a>
                <a href="/seguro-las-palmas/flotas.html"><i class="fa-solid fa-angle-right"></i> Flotas</a>
                <a href="/seguro-las-palmas/accidentes-convenios.html"><i class="fa-solid fa-angle-right"></i> Accidentes de convenios</a>
                <a href="/seguro-las-palmas/comercios.html"><i class="fa-solid fa-angle-right"></i> Comercios</a>
                <a href="/seguro-las-palmas/oficinas.html"><i class="fa-solid fa-angle-right"></i> Oficinas</a>
                <a href="/seguro-las-palmas/pymes.html"><i class="fa-solid fa-angle-right"></i> Pymes</a>
                <a href="/seguro-las-palmas/defensa-juridica-empresa.html"><i class="fa-solid fa-angle-right"></i> Defensa jurídica de la empresa</a>
            </div>
            <div id="vida" class="overlayVida">
                <a href="/seguro-las-palmas/vida.html"><i class="fa-solid fa-angle-right"></i> Vida Riesgo</a>
                <a href="/seguro-las-palmas/planes-pensiones.html"><i class="fa-solid fa-angle-right"></i> Planes de Pensiones</a>
                <a href="/seguro-las-palmas/pias.html"><i class="fa-solid fa-angle-right"></i> PIAS</a>
                <a href="/seguro-las-palmas/sialp.html"><i class="fa-solid fa-angle-right"></i> SIALP</a>
                <a href="/seguro-las-palmas/unit-linked.html"><i class="fa-solid fa-angle-right"></i> United Linked</a>
            </div>
        </div>
    </div>
</main>

<script is:inline>
const navbar = document.getElementById("navbar");
const special = document.getElementById("special");

function clickin(){
    navbar.classList.toggle("openSpecial");
    special.classList.remove("openSpecial");
    window.addEventListener('scroll', disableScroll);
};

const productsNav = document.getElementById("productsNav");
const productsPart = document.getElementById("particulares");
const productsEmpre = document.getElementById("empresas");
const productsVida = document.getElementById("vida");

const angle = document.getElementsByClassName("angle");

function clickproOpen(){
    productsNav.classList.toggle("open_products");
    productsPart.classList.remove("open_ListProduct");
    productsEmpre.classList.remove("open_ListProduct");
    productsVida.classList.remove("open_ListProduct");
};

function clickproClose(){
    productsNav.classList.remove("open_products");
    productsPart.classList.remove("open_ListProduct");
    productsEmpre.classList.remove("open_ListProduct");
    productsVida.classList.remove("open_ListProduct");
    angle[0].classList.remove("anglerotate");
    angle[1].classList.remove("anglerotate");
    angle[2].classList.remove("anglerotate");
};

const specialParticulares = document.getElementById("specialParticulares");

function sectionParticulares(){
    specialParticulares.classList.toggle("openSpecial");
};

const specialEmpresas = document.getElementById("specialEmpresas")

function sectionEmpresas(){
    specialEmpresas.classList.toggle("openSpecial");
};

const specialVida = document.getElementById("specialVida")
function sectionVida(){
    specialVida.classList.toggle("openSpecial");
};

function clickpar(){
    productsPart.classList.toggle("open_ListProduct");
    productsEmpre.classList.remove("open_ListProduct");
    productsVida.classList.remove("open_ListProduct");
    angle[0].classList.toggle("anglerotate");
    angle[1].classList.remove("anglerotate");
    angle[2].classList.remove("anglerotate");
};
function clickemp(){
    productsEmpre.classList.toggle("open_ListProduct");
    productsPart.classList.remove("open_ListProduct");
    productsVida.classList.remove("open_ListProduct");
    angle[1].classList.toggle("anglerotate");
    angle[0].classList.remove("anglerotate");
    angle[2].classList.remove("anglerotate");
};

function clickvid(){
    productsVida.classList.toggle("open_ListProduct");
    productsPart.classList.remove("open_ListProduct");
    productsEmpre.classList.remove("open_ListProduct");
    angle[2].classList.toggle("anglerotate");
    angle[0].classList.remove("anglerotate");
    angle[1].classList.remove("anglerotate");
};
</script>
