---
---

<section id="preguntas">
    <div>
        <h3>Preguntas frecuentes</h3>
        <article class="accordion">
            <div class="question" onclick="clickQuestion(1)">¿Qué diferencia hay entre el asegurado, el tomador y el beneficiario de un seguro? <i class="fa-solid fa-angle-down angle"></i></div>
            <div class="answer">
                <div>
                    <p>El tomador del seguro es la persona que contrata el seguro, es decir, a nombre de quien figura la póliza y quien paga la prima.</p>
                    <p>El asegurado es la persona a quien protege el seguro, por ejemplo en un seguro de automóvil, el asegurado sería la persona que sufre el accidente, que puede ser o no la misma que firma y paga la póliza. Beneficiario es aquel que recibiría la indemnización en el caso de que ocurriera el siniestro.</p>
                    <p>En la mayoría de los casos, beneficiario y asegurado son la misma persona, sin embargo, en los seguros donde se cubre la muerte del asegurado, el beneficiario de la indemnización es otra persona, que queda elegida por el tomador al firmar la póliza. En muchas ocasiones tomador, asegurado y beneficiario son la misma persona. En otras, suelen coincidir tomador y asegurado o asegurado y beneficiario.</p>
                    <p>En el caso de seguros que cubran la muerte del asegurado, las tres figuras podrían estar representadas por tres personas distintas.</p>
                </div>
            </div>
        </article>
        <article class="accordion">
            <div class="question" onclick="clickQuestion(2)">¿El seguro a todo riesgo cubre absolutamente cualquier daño? <i class="fa-solid fa-angle-down angle"></i></div>
            <div class="answer">
                <div>
                    <p>No. Todos los seguros tienen limitaciones que es importante conocer.</p>
                </div>
            </div> 
        </article>
        <article class="accordion">
            <div class="question" onclick="clickQuestion(3)">¿Para qué contratar un seguro de decesos? <i class="fa-solid fa-angle-down angle"></i></div>
            <div class="answer">
                <div>
                    <p>Contratar un seguro de decesos permite prevenir las consecuencias económicas derivadas del propio fallecimiento para que los familiares no tengan que asumir dichos gastos funerarios y para facilitarles los trámites derivados del mismo.</p>
                </div>
            </div> 
        </article>
        <article class="accordion">
            <div class="question" onclick="clickQuestion(4)">¿Puedo cambiar el vehículo asegurado en mi póliza en cualquier momento? <i class="fa-solid fa-angle-down angle"></i></div>
            <div class="answer">
                <div>
                    <p>Sí, es posible hacerlo aunque la forma y las condiciones varían dependiendo de la compañía aseguradora.</p>
                </div>
            </div> 
        </article>
        <article class="accordion">
            <div class="question" onclick="clickQuestion(5)">¿Qué es el infraseguro? <i class="fa-solid fa-angle-down angle"></i></div>
            <div class="answer">
                <div>
                    <p>Se trata de la declaración en la póliza de seguro del objeto asegurado por un valor inferior al que realmente tiene. Esta situación es muy desfavorable para el cliente en caso de siniestro, por lo que siempre se debe hacer una valoración de los bienes lo más cercana a la realidad.</p>
                </div>
            </div> 
        </article>
        <article class="accordion">
            <div class="question" onclick="clickQuestion(6)">¿Qué es el copago en el seguro de salud? <i class="fa-solid fa-angle-down angle"></i></div>
            <div class="answer">
                <div>
                    <p>El copago significa abonar una cantidad de dinero cuando hacen uso del servicio médico. Dicha cantidad oscila entre 1 y 100€.</p>
                    <p>Esta forma de pago es beneficiosa tanto para la compañía aseguradora como para el asegurado. El motivo es claro: los usuarios hacen un uso más razonables de la consulta médica.</p>
                    <p>Este tipo de pólizas es recomendable para aquellas personas que no quieren acudir al hospital.</p>
                </div>
            </div> 
        </article>
        <article class="accordion">
            <div class="question" onclick="clickQuestion(7)">¿Qué es el "período de carencia" en un seguro de salud? <i class="fa-solid fa-angle-down angle"></i></div>
            <div class="answer">
                <div>
                    <p>Los seguros de salud particulares suelen tener lo que se denomina “período de carencia” para acceder a determinados servicios. Las carencias son el periodo que transcurre desde la fecha de alta de la póliza y el día en que se pueden solicitar determinadas pruebas, generalmente pruebas de alto diagnóstico, hospitalizaciones e intervenciones quirúrgicas.</p>
                    <p>Las compañías de seguros exigen cierto periodo de tiempo desde la contratación  para acceder a estos servicios y  se incrementa cuando se trate de hospitalizaciones no urgentes  e intervenciones quirúrgicas programadas.</p>
                </div>
            </div> 
        </article>
    </div>
</section>


<script is:inline>
    

    const answer = document.getElementsByClassName("answer");

    function clickQuestion(boton){
    switch (boton){
        case 1:
             angle[3].classList.toggle("anglerotate");
             answer[0].classList.toggle("answerOpen");
             break;
         case 2:
             angle[4].classList.toggle("anglerotate");
             answer[1].classList.toggle("answerOpen");
             break;
         case 3:
             angle[5].classList.toggle("anglerotate");
             answer[2].classList.toggle("answerOpen");
         break;                
         case 4:
             angle[6].classList.toggle("anglerotate");
             answer[3].classList.toggle("answerOpen");
         break;    
         case 5:
             angle[7].classList.toggle("anglerotate");
             answer[4].classList.toggle("answerOpen");
         break;    
         case 6:
             angle[8].classList.toggle("anglerotate");
             answer[5].classList.toggle("answerOpen");
         break; 
         case 7:
             angle[9].classList.toggle("anglerotate");
             answer[6].classList.toggle("answerOpen");
         break;                                                     
    }
};
</script>


<style>
    #preguntas{
    padding: 60px 0;
    background-image: url("images/webback.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

#preguntas h3{
    padding-bottom: 50px;
}

#preguntas > div{
    width: 85%;
    margin: auto;

}

.accordion{
    width: 80%;
    margin: auto;
}

.question{
    color: #ffff;
    background-color: var(--blue);
    font-family: bayan;
    font-weight: bold;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    gap:10px

}

.question:hover{
    color: var(--yellow);
}

.answer{
    background-color: #ffff;
    height: 0;
    overflow-y: hidden;
    transition:2s;

}

.answer div{
    padding: 30px;
}



.answerOpen{
    height: auto;
}

@media only screen and (max-width: 900px)  {
    .accordion{
        width: 100%;
    }
    
}
</style>