---
import "~/styles/index.css"

interface Props {
	title: string;
	description:string
}

const { title, description } = Astro.props;

const makeTitle = title
  ? title + " | Asegura-Te"
  : "Correduría de Seguros en Las Palmas | Asegura-Te";

const makeDescription = description
  ? description
  : "Descubre Asegura-Te, la correduría de Seguros en Las Palmas que te brinda confianza y seguridad. Protege lo que más importa. ¡Contáctanos hoy!"

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
        <meta name="description" content={makeDescription}>
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />

		<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#F4D235">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta property="og:url" content="https://www.aseguratte.es"/>
		<meta property="og:description" content="Descubre Asegura-Te, la correduría de Seguros en Las Palmas que te brinda confianza y seguridad. Protege lo que más importa. ¡Contáctanos hoy!"/>
		<meta property="og:image" content="https://www.aseguratte.es/images/asegurate_logoW.png">
		<meta property="og:image:secure_url" content="https://www.aseguratte.es/images/asegurate_logoW.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:alt" content="Asegura-Te" />
		<meta property="og:image:width" content="300"/>
		<meta property="og:image:height" content="88"/>
		<meta property="og:type" content="article"/>
		<meta property="og:locale" content="es_ES"/>
		<meta property="og:locale:alternate" content="fr_FR" />
		<meta property="og:locale:alternate" content="en_GB" />
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">

		<script type="application/ld+json">
			{
			  "@context":"https://schema.org",
			  "@type":"InsuranceAgency",
			  "@id":"https://aseguratte.es",
			  "name":"Aseguratte",
			  "url":"https://aseguratte.es/",
			  "logo":"https://www.aseguratte.es/images/asegurate_logoW.png",
			  "image":"https://www.aseguratte.es/images/asegurate_logoW.png",
			  "telephone":"+348282661940",
			  "email":"info@aseguratte.es",
			  "address":{
			    "@type":"PostalAddress",
			    "streetAddress":"Calle Domingo Monteverde 144 Bajo A",
			    "postalCode":"35118",
			    "addressLocality":"Las Palmas de Gran Canaria",
			    "addressRegion":"Canarias",
			    "addressCountry":"ES"
			  },
			  "geo":{
			    "@type":"GeoCoordinates",
			    "latitude":27.8609851,
			    "longitude":-15.4011986,
			  },
			  "areaServed":[
			    "Las Palmas de Gran Canaria",
			    "Gran Canaria",
			    "Islas Canarias"
			  ],
			  "sameAs":[]
			}
		</script>



		<title>{makeTitle}</title>
		<!-- --FONTAWESOME-- -->
		<script src="https://kit.fontawesome.com/e044e0c03c.js" crossorigin="anonymous"></script>
		<!-- --PLAUSIBLE-- -->
		<script defer data-domain="aseguratte.es" src="https://plausible.io/js/script.js"></script>
		<!-- --cookies-script-- -->
		<script type="text/javascript" charset="UTF-8" src="//cdn.cookie-script.com/s/49059b49d617a458284b7a6a7c644dfe.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>